# Virtual environment
venv/
.venv/

# Environment variables
.env

# Jupyter notebooks
.ipynb_checkpoints

# Logs
*.log

# Python package files
*.egg
*.egg-info/
dist/
build/

# IDE and editor configurations
.vscode/
